.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #3F3D56;
    height: 125px;
}

.skill-rights-text {
    font-size: 16px;
    opacity: 0.4;
    color: #FFFFFF;
    margin: 0 0 0 40px;
}

.icons-container {
    margin: 0 43px 0 0;
}

.icon {
    margin: 0 0 0 14px;
}

.icon:hover {
    background-color: rgb(224, 4, 206);
    border-radius: 8px;
}

/* ---------------------------------------- */
@media  (max-width: 670Px) {
    .footer {  
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background: #3F3D56;
        height: 125px;
    }

    .skill-rights-text {
        font-size: 16px;
        opacity: 0.4;
        color: #FFFFFF;
        line-height: 18.75px;
        margin: 0 0 0 20px;

    }
    .icons-container {
        margin: 0 0 0 20px;
    }

    .icon {
        margin: 0 14px 0 0;
    }
}